<a href="https://colab.research.google.com/github/Yuhao0908/Yuhao-Wu-MBAN/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlalchemy as sa
from sqlalchemy import text

db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'username'   : 'wyh0908',
    'password'   : '2023!Schulich',
    'database'   : 'mban_db' # wyh0908_db
}

db_connection_url = sa.engine.URL.create(
    drivername =  db_secret['drivername'],
    username = db_secret['username'],
    password = db_secret['password'],
    host = db_secret['host'],
    port = db_secret['port'],
    database = db_secret['database'],
)

engine = sa.create_engine(db_connection_url)

with engine.connect() as connection:
    s = text("SELECT schema_name FROM information_schema.schemata;")
    result = connection.execute(s)
    for row in result:
        print(row[0])

fact_tables
assignment01
dimensions
information_schema
public
pg_catalog

In [4]:
import pandas as pd

with engine.connect() as connection:
    s = text("SELECT * FROM dimensions.date_dimension;")
    date_df = pd.read_sql_query(s, connection)
date_df

,sk_date,date,day_name,day_of_month,day_of_year,month,month_name,year,year_week,week,running_week,year_quarter,quarter,running_quarter
0,20190101,2019-01-01,Tuesday,1,1,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
1,20190102,2019-01-02,Wednesday,2,2,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
2,20190103,2019-01-03,Thursday,3,3,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
3,20190104,2019-01-04,Friday,4,4,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
4,20190105,2019-01-05,Saturday,5,5,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20231227,2023-12-27,Wednesday,27,361,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1822,20231228,2023-12-28,Thursday,28,362,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1823,20231229,2023-12-29,Friday,29,363,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1824,20231230,2023-12-30,Saturday,30,364,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1825,20231231,2023-12-31,Sunday,31,365,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20

In [5]:
db_secret['database'] = 'wyh0908_db'
personal_db_connection_url = sa.engine.URL.create(
    drivername =  db_secret['drivername'],
    username = db_secret['username'],
    password = db_secret['password'],
    host = db_secret['host'],
    port = db_secret['port'],
    database = db_secret['database'],
)
personal_engine = sa.create_engine(personal_db_connection_url)
with personal_engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS final_exam;"))
    connection.commit()


with personal_engine.connect() as connection:
    s = text("SELECT schema_name FROM information_schema.schemata;")
    result = connection.execute(s)
    for row in result:
        print(row[0])

date_df.to_sql('date_dimension', personal_engine, schema='final_exam', if_exists='replace', index=False)

with personal_engine.connect() as connection:
    s = text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'final_exam';")
    result = connection.execute(s)
    tables = [row[0] for row in result]
    print("\n\nTables in 'final_exam' schema:")
    for table in tables:
        print(table)

pg_catalog
public
information_schema
schulich
simpsons
final_exam


Tables in 'final_exam' schema:
date_dimension
covid19

In [6]:
import pandas as pd
import sqlalchemy as sa
import requests
from sqlalchemy import create_engine, text
from sqlalchemy.exc import ProgrammingError
import urllib.request
import urllib.error
import json
import sys

In [7]:
resource_id = '71802bd8-1574-4ee9-911a-62a00160fa19'
limit = 10500
offset = 0

api_url = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id={}&limit={}&offset={}'.format(resource_id,limit,offset)
api_response = requests.get(api_url)
youth_data = pd.DataFrame(api_response.json()['result']['records'])
youth_data.head()

,_id,Program,ProjectNumber,ProjectTitle,ProjectDescription,AreaPrimary,AreaSecondary,DisciplinePrimary,DisciplineSecondary,Round,...,City,OntarioCommitment,TotalProjectCosts,Keyword,Expenditure_Type,Salutation,First_Name,Middle_Name,Last_Name,OIA_Area
0,1,Youth Science and Technology Outreach Program,YO05-01-004,Partnership Project Accessiblity Initiative,In conjunction with postsecondary institutions...,10,10,99998,99998,1,...,London,"$150,000","$629,000",None,Operating,N/A,N/A,None,N/A,Not Applicable
1,2,Youth Science and Technology Outreach Program,YO06-03-035,How to Research Mental Well-Being,The University of Ottawa Institute of Mental H...,10,10,99998,99998,3,...,Ottawa,"$149,941","$752,543",None,Operating,Ms.,Jennifer,None,Munoz,Not Applicable
2,3,Youth Science and Technology Outreach Program,YO05-02-031,Sanofi-Aventis Biotech Challenge,The sanofi-aventis biotech challenge program i...,10,10,99998,99998,2,...,Toronto,"$144,750","$1,597,893",None,Operating,Mr.,Tony,None,Legault,Not Applicable
3,4,Youth Science and Technology Outreach Program,YO05-02-029,Mentorship and Science Clubs for Underserved Y...,The project will consist of two components: th...,10,10,99998,99998,2,...,Toronto,"$75,250","$175,500",None,Operating,Ms.,MayLiza,None,Baak,Not Applicable
4,5,Youth Science and Technology Outreach Program,YO05-02-028,3H@Guelph,3H@GUELPH is a Youth Outreach Program to conne...,10,10,99998,99998,2,...,Guelph,"$150,000","$450,000",rural,Operating,Dr.,Ken,None,Leslie,Not Applicable

In [8]:
resource_id = '8a89caa9-511c-4568-af89-7f2174b4378c'
limit = 10500
offset = 0

api_url = 'https://data.ontario.ca/api/3/action/datastore_search?resource_id={}&limit={}&offset={}'.format(resource_id,limit,offset)
api_response = requests.get(api_url)
vaccines_data = pd.DataFrame(api_response.json()['result']['records'])
vaccines_data.head()

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses
0,1,2021-01-01T00:00:00,6252,6242,2,None,32208,32153,32142,22,11,None
1,2,2021-01-02T00:00:00,4615,4603,6,None,36823,36704,36691,26,13,None
2,3,2021-01-03T00:00:00,5396,5389,3,None,42219,42093,42077,32,16,None
3,4,2021-01-04T00:00:00,5995,5993,0,None,48214,48085,48070,30,15,None
4,5,2021-01-05T00:00:00,9687,9662,21,None,57901,57745,57710,70,35,None

In [9]:
for colname in vaccines_data.columns[2:]:
  vaccines_data[colname] = vaccines_data[colname].fillna(0).astype(int)

In [10]:
transformed_data = pd.DataFrame({
    'report_date': vaccines_data['report_date'],
    'new_doses': vaccines_data['previous_day_total_doses_administered'],
    'new_doses_unvaccinated': vaccines_data['previous_day_total_doses_administered'] -
                              (vaccines_data['previous_day_at_least_one'] +
                               vaccines_data['previous_day_fully_vaccinated'] +
                               vaccines_data['previous_day_3doses'].fillna(0)),
    'new_doses_one_vaccine': vaccines_data['previous_day_at_least_one'],
    'new_doses_two_vaccines': vaccines_data['previous_day_fully_vaccinated'],
    'new_doses_three_vaccines': vaccines_data['previous_day_3doses'].fillna(0)
})

In [11]:
transformed_data.head()

,report_date,new_doses,new_doses_unvaccinated,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines
0,2021-01-01T00:00:00,6252,8,6242,2,0
1,2021-01-02T00:00:00,4615,6,4603,6,0
2,2021-01-03T00:00:00,5396,4,5389,3,0
3,2021-01-04T00:00:00,5995,2,5993,0,0
4,2021-01-05T00:00:00,9687,4,9662,21,0

In [12]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'username'   : 'wyh0908',
    'password'   : '2023!Schulich',
    'database'   : 'mban_db' # wyh0908_db
}

In [13]:
db_secret['database'] = 'wyh0908_db'
personal_db_connection_url = sa.engine.URL.create(
    drivername =  db_secret['drivername'],
    username = db_secret['username'],
    password = db_secret['password'],
    host = db_secret['host'],
    port = db_secret['port'],
    database = db_secret['database'],
)
personal_engine = sa.create_engine(personal_db_connection_url)

# Storing the transformed data in the final_exam schema
transformed_data.to_sql("covid19", personal_engine, schema='final_exam', if_exists='replace', index=False)
transformed_data

,report_date,new_doses,new_doses_unvaccinated,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines
0,2021-01-01T00:00:00,6252,8,6242,2,0
1,2021-01-02T00:00:00,4615,6,4603,6,0
2,2021-01-03T00:00:00,5396,4,5389,3,0
3,2021-01-04T00:00:00,5995,2,5993,0,0
4,2021-01-05T00:00:00,9687,4,9662,21,0
...,...,...,...,...,...,...
940,2023-07-30T00:00:00,623,548,29,19,27
941,2023-07-31T00:00:00,226,201,6,4,15
942,2023-08-01T00:00:00,1085,973,48,31,33
943,2023-08-02T00:00:00,1395,1213,72,54,56
944,2023-08-03T00:00:00,1016,876,61,37,42

In [14]:
with personal_engine.connect() as connection:
    s = text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'final_exam';")
    result = connection.execute(s)
    tables = [row[0] for row in result]
    print("\n\nTables in 'final_exam' schema:")
    for table in tables:
        print(table)

    # Test retrieve tables from the database

    date_dimension_query = text("SELECT * FROM final_exam.date_dimension;")
    date_dimension_df = pd.read_sql_query(date_dimension_query, connection)
    display(date_dimension_df)

    covid19_query = text("SELECT * FROM final_exam.covid19;")
    covid19_df = pd.read_sql_query(covid19_query, connection)
    display(covid19_df)

Tables in 'final_exam' schema:
date_dimension
covid19

,sk_date,date,day_name,day_of_month,day_of_year,month,month_name,year,year_week,week,running_week,year_quarter,quarter,running_quarter
0,20190101,2019-01-01,Tuesday,1,1,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
1,20190102,2019-01-02,Wednesday,2,2,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
2,20190103,2019-01-03,Thursday,3,3,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
3,20190104,2019-01-04,Friday,4,4,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
4,20190105,2019-01-05,Saturday,5,5,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20231227,2023-12-27,Wednesday,27,361,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1822,20231228,2023-12-28,Thursday,28,362,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1823,20231229,2023-12-29,Friday,29,363,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1824,20231230,2023-12-30,Saturday,30,364,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1825,20231231,2023-12-31,Sunday,31,365,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20

,report_date,new_doses,new_doses_unvaccinated,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines
0,2021-01-01T00:00:00,6252,8,6242,2,0
1,2021-01-02T00:00:00,4615,6,4603,6,0
2,2021-01-03T00:00:00,5396,4,5389,3,0
3,2021-01-04T00:00:00,5995,2,5993,0,0
4,2021-01-05T00:00:00,9687,4,9662,21,0
...,...,...,...,...,...,...
940,2023-07-30T00:00:00,623,548,29,19,27
941,2023-07-31T00:00:00,226,201,6,4,15
942,2023-08-01T00:00:00,1085,973,48,31,33
943,2023-08-02T00:00:00,1395,1213,72,54,56
944,2023-08-03T00:00:00,1016,876,61,37,42

In [15]:
# query to caculate number of doses administered per quarter for all years available in the dataset
with personal_engine.connect() as connection:
  query = text("""
    SELECT
    EXTRACT(YEAR FROM report_date::timestamp) AS year,
    EXTRACT(QUARTER FROM report_date::timestamp) AS quarter,
    SUM(new_doses) AS total_doses_administered
FROM
    final_exam.covid19
GROUP BY
    EXTRACT(YEAR FROM report_date::timestamp),
    EXTRACT(QUARTER FROM report_date::timestamp)
ORDER BY
    year,
    quarter;

  """)
  query_df = pd.read_sql_query(query, connection)
  display(query_df)

      year  quarter  total_doses_administered
0   2021.0      1.0                 2324572.0
1   2021.0      2.0                12912948.0
2   2021.0      3.0                 7154957.0
3   2021.0      4.0                 5261250.0
4   2022.0      1.0                 4566501.0
5   2022.0      2.0                 1597972.0
6   2022.0      3.0                 1518955.0
7   2022.0      4.0                 2437074.0
8   2023.0      1.0                  522602.0
9   2023.0      2.0                  477903.0
10  2023.0      3.0                   47216.0